:root{
    --primary: #4a90e2;
    --danger: #e74c3c;
    --success: #2ecc71;
    --bg: #f4f7f6;
}

body{ font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: var(--bg);display: flex;justify-content: center;padding: 40px;}
.container{background-color: white;width: 100%;max-width: 600px;padding: 2rem;border-radius: 12px;box-shadow: 0 10px 25px rgba(0,0,0,0.1)}

/*Form Styling*/
.form-section{border-bottom: 2px solid #eee;padding-bottom: 20px;margin-bottom: 20px; }
form{display: flex;gap: 10px}
input{padding: 10px;border: 1px solid #ddd;border-radius: 6px;flex:1px}
button{padding: 10px 15px ;border: none;border-radius: 6px;cursor: pointer;font-weight: 600; transition: 0.3s;}
#submitBtn{background:var(--primary);color: white;}

/*List and Search*/
.list-header{display: flex;justify-content: space-between;align-items: center;margin-bottom: 15px;}
#searchBar{max-width: 400px; font-size: 0.9rem;}
ul{list-style: none; padding: 0}
li{background: #fff;border:1px solid #eee; margin-bottom: 10px;padding: 15px;border-radius: 8px;display: flex;align-items: center;gap: 10px;transition: transform 0.2s;}
li:hover{transform: translateY(-2px); box-shadow: 0 4px 8px rgba(0,0,0,0.5);}

/*Edit/Delete button*/
.edit-btn{background: #f39c12; color: white;margin-left: auto;}
.delete-btn{background: var(--danger);color: white;}

/*Spinner Animation*/
.hidden{display: none;}
.spinner{width: 40px;height: 40x;border: 4px solid #f3f3f3; border-top: 4px solid var(--primary);border-radius: 50%;animation: spin 1s linear infinite;margin: 20px auto}
@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

/* dark background of the modal overlay*/
.modal-overlay{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.5);display: flex;justify-content: center;align-items: center;z-index: 1000;}

/*inside the pop up box*/
.modal-content{background: white;padding: 2rem;border-radius: 12px;text-align: center;box-shadow: 0 15px 30px rgba(0,0,0,0.2);}
.modal-actions{display: flex;gap: 10px;justify-content: center;margin-top: 20px;}

.btn-secondary { background: #95a5a6; color: white; }
.btn-danger { background: #e74c3c; color: white; }

.hidden{display:none !important;}